  #color-grid{
    img{
        /* border-radius:20px; */
    }

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
    }
}


#icons{
    margin-top:0;
    margin-top:0;
    grid-template-columns: fit-content(465px) fit-content(465px);

    @media (max-width: 767px) {
        grid-template-columns: fit-content(465px);
    }
}

#real-interior{
    margin-left:0;
    margin-right:0;

    .one-up + .one-up{
        margin-top: var(--vspace-m);
        @media (min-width: 768px) {
            margin-top:var(--vspace-d);
        }
    }

    .last{
        margin:0 var(--hspace-m);
    }
}

#painting-production-video .frame{
    max-width: 840px;
}

#cards{
    background:url("/images/Ample/cards-bg.jpg");
    background-size: cover;

    img{
        width: 100%;
        max-width: 740px;
        margin:0 auto;
    }
}

#homepages{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    gap:var(--vspace-m);
    margin:0 20px;

    @media (min-width: 768px) {
        gap:var(--vspace-d);
    }
}


#patient-stories-a,
#patient-stories-b{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap:15px;

    .vimeo-player, video{
        width:100%;
        max-width:512px;
    }

    @media (max-width: 767px) {
        flex-direction:column;
    }
}

#patient-stories-b{
    .vimeo-player, video{
        max-width: 645px;
    }
}


#vid-grid{
    grid-template-columns: fit-content(336px) fit-content(336px) fit-content(336px);

    img, video{
        border-radius: 8px;

        @media (min-width: 768px) {
            border-radius: 25px !important;
        }
    }

}

#desktop-gallery{
    display:flex;
    justify-content:center;
    video{
        max-width:1040px;
    }
}

#booking-flow img{
    width:100%;
    max-width: 1040px;
}

#painting-production,
#headshots {
    overflow:hidden;

    .tray{
        position:relative;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        gap: 3.333333333vw;
    }

    img{
        width:30vw;
        animation: infinite-slide-200 20s linear infinite;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

    @media (max-width: 767px) {
        .tray{
            gap: 5vw;
        }
        img{
            width: 45vw;
            animation: infinite-slide-300 30s linear infinite;
        }
    }
}

@keyframes infinite-slide-200 {
    0%{ transform: translateX(0);}
    100%{ transform: translateX(calc(-200vw));}
}

@keyframes infinite-slide-300 {
    0%{ transform: translateX(0);}
    100%{ transform: translateX(calc(-300vw));}
}

#life-cycle{
    grid-template-columns: fit-content(652px) fit-content(652px);
}

#before-and-after{
    .slideshow{
        display: grid;
        grid-template-areas: single;
        align-self:center;
        justify-content: center;

        > img{
            grid-area: single;
            opacity:0;
            transition: opacity 1s ease-in;
            width:calc(100% - 40px);
            margin: 0 auto;

            &.active{
                opacity:1;
                transition: opacity .5s ease-out;
                z-index:1;
            }

        }

        @media (min-width: 768px) {
            margin:0 auto;

            > img{
                max-width: 880px;
            }
        }
    }
}


#social-reels-a,
#social-reels-b{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap:15px;

    .vimeo-player{
        width:100%;
        max-width:412px;
    }

    @media (max-width: 767px) {
        flex-direction:column;
    }
}

#sga{
    grid-template-columns: fit-content(650px) fit-content(650px);

    .slideshow{
        display: grid;
        grid-template-areas: single;
        align-self:center;
        justify-content: center;

        > img{
            grid-area: single;
            opacity:0;
            transition: opacity 1s ease-in;
            width:100%;
            margin: 0 auto;

            &.active{
                opacity:1;
                transition: opacity .5s ease-out;
                z-index:1;
            }

        }

        @media (min-width: 768px) {
            margin:0 auto;

            > img{
                max-width: 880px;
            }
        }
    }
}

#warnings{
    display: grid;
    grid-template-columns: repeat(4, fit-content(318px));
    justify-content: center;
    gap:15px;
    margin-left:20px;
    margin-right:20px;

    @media (max-width: 767px) {
        grid-template-columns: repeat(2, fit-content(318px));
    }
}