.pill--container {
  position: relative;
  height: 500px;
  margin-top: 200px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: azure; */
  transition: transform 2s ease;
  transform-origin: center;
}

.pill {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  /* top: 0;
  left: 0; */
  width: 500px;
  height: 500px;
  z-index: 10;
}

.top {
  z-index: 6;
  position: relative;
}

.image-container {
  margin-top: 10px;
}

.image-container .image {
  margin-top: -120px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  z-index: 5;
  transform: rotate(104deg);
}

.image2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  z-index: 0;
  /* transform: rotate(100deg); */
}

.pill svg {
  display: block;
  margin: 0 auto;
  overflow: visible;
}

#path {
  position: absolute;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(104deg);
}

#text-path:hover {
  offset: 50%;
}

#rotate-text {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(104deg);
}

.pill--span-text {
  font-style: italic;
  font-weight: bold;
  fill: #dcc5b8;
}

.pill--span-text:hover {
  cursor: pointer;
}

.highlighted {
  fill: #f2e5dd;
}

.container1 .image2-container .image2 {
  margin-top: -120px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
  transform: rotate(284deg);
}

/* @keyframes spin {
  from {
    transform: rotate(104deg);
  }
  to {
    transform: rotate(190deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}

.spin2 {
  animation-name: spin2;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: center;
}
*/
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  position: relative;
  animation-name: fade;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  z-index: 10;
}
