.image-column{
    position:relative;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;

    img{
        width:100% !important;
    }
}

.video-player{
    position: relative;
    padding-top: calc(56.272727% - 20px);
    margin: 0 20px;

    iframe {
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.reach-intro{
    padding: 45px 20px;
    @media (min-width: 768px) {
        padding: 120px 20px;
    }
}

.campaign-intro{
    font: 700 26px/1.2 "Karla", sans-serif;
    letter-spacing: -0.72px;

    padding:0 20px;
    max-width:600px;

    @media (min-width: 768px) {
        font-size: 36px;
        text-align:center;
        max-width:840px;
        margin:0 auto;
    }
}

.one-up, #reach-redefined{
    margin:25px 0 45px 0;

    @media (min-width: 768px) {
        margin: 60px 0 120px 0;
    }
}
