:root {
    --violet: #c3c6fd;
}

.nv-logo{
    padding:40px 20px;
    display: flex;

    img{
        margin:0 auto;
    }

    @media (min-width: 768px) {
        padding:120px;
        img{
            width:calc(100%);
            max-width: 840px;
        }
    }
}

.text-columns{
    padding:40px 20px;
    @media (min-width: 768px) {
        padding: 0 20px 100px 20px;
    }
}

.diagonals{
    @media (min-width: 768px) {
        padding: 0 20px;
    }
}

.slideshow{
    display: grid;
    grid-template-areas: single;
    margin:40px 20px;

    img{
        grid-area: single;
        opacity:0;
        transition: opacity .5s linear;

        &.active{
            opacity:1;
        }
    }

    @media (min-width: 768px) {
        padding: 40px 0;
    }
}


.palette{
    padding:0px 20px 40px 20px;

    img{
        width:100%;
    }

    @media (min-width: 768px) {
        img{
            margin:0 auto;
            max-width:800px;
        }
    }
}

.site{
    margin:0;
    padding:40px 20px;
    background:var(--violet);
    img{
        width:100%;
        max-width:1200px;
    }

    @media (min-width: 768px) {
        padding: 100px 20px;
    }
}

.icons{
    background: var(--cream);
    padding:60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        width:100%;
    }

    @media (min-width: 768px) {
        flex-direction: row;

        img{
            width:50%;
            max-width: 500px;
        }
    }

}