:root {
    --ginger: #C35E28;
    --blue: #525c6d;
}

.mosaic{
    img{
        margin: 0 auto;
    }
}

.pull-quote{
    font: 700 26px/1.2 "Karla", sans-serif;
    letter-spacing: -0.02em;

    p{
        margin:0 auto;
        max-width: 840px;
    }

}

.logo-animation{
    video{
        width:100%;
        max-width:1040px;
        max-height:100vh;
        margin: 0 auto;
    }
}

.narrative{
    margin-left:20px !important;
    margin-right:20px !important;
}

.color-palette{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .swatches{
        width:calc(100% - 40px);
        max-width: 600px;
    }

    .swatches img{
        width:100%;
    }

    @media (min-width: 768px) {
        .swatches{
            max-width: 840px;
        }

    }

}

.chimera{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap:20px;

    background: var(--blue);
    padding:40px 20px;

    .head, .tail{
        width:50%;
        max-width:500px;

        display: grid;
        grid-template-areas: single;
        align-items: end;
        justify-content: center;

        background-image: url("/images/PetDerm/wordmark.svg");
        background-size: 100% 100%;

        img{
            grid-area: single;
            opacity:0;
            transition: opacity .5s linear;

            &.active{
                opacity:1;
            }
        }
    }

    @media (min-width: 768px) {
        padding:150px 20px;
    }

}