:root{
  --cream: #f7f4ed;
  --peach: #ebd4c7;
  --ink: #363131;
}

a:hover{
  cursor: url("../assets/HeartCursor.png") 16 16, auto;
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("/fonts/Karla-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url("/fonts/Karla-Italic-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: "Covered By Your Grace";
  src: url("/fonts/CoveredByYourGrace-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Filson Pro";
  src: url("/fonts/FilsonProBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
