@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  /* font-display: swap; */
}
