:root{
  --cream: #f7f4ed;
  --peach: #ebd4c7;
  --ink: #363131;
  --charcoal: #363131;

  --hspace-d: 20px;
  --vspace-d: 120px;
  --hspace-m: 20px;
  --vspace-m: 40px;
}

a[href]:hover{
  cursor: url("../assets/HeartCursor.png") 16 16, auto;
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("/fonts/Karla-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 200 800;
  font-display: swap;
  src: url("/fonts/Karla-Italic-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: "Covered By Your Grace";
  src: url("/fonts/CoveredByYourGrace-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Filson Pro";
  src: url("/fonts/FilsonProBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.rc{
  border-radius: 3px;

  @media (min-width: 768px) {
      border-radius: 5px;
  }
}

.rc-big{
  border-radius: 3px;

  @media (min-width: 768px) {
      border-radius: 25px !important;
  }
}

.spaced{
  margin:40px 20px;
  @media (min-width: 768px) {
      margin:120px 20px;
  }

  &.flush{
      margin-left:0;
      margin-right:0;
  }
}

.padded{
  padding:40px 20px;
  @media (min-width: 768px) {
      padding:120px 20px;
  }

  &.flush{
      margin-left:0;
      margin-right:0;
  }
}

.full-bleed{
  margin: 40px 0;
  @media (min-width: 768px) {
      margin:120px 0;
  }
}

.two-col{
  margin:40px 0;
  padding:0 20px;
  display: grid;
  justify-content: center;
  gap: 15px;

  > *{ width:100%; }

  &.flush{
    padding:0;
    width:100%;
  }

  grid-template-columns: 1fr 1fr;
  &.bias-left{ grid-template-columns: 2fr 1fr; }
  &.bias-right{ grid-template-columns: 1fr 2fr; }

  @media (min-width: 768px) {
      margin:120px 0;
  }

  @media (max-width: 767px) {
    &.rx{
      grid-template-columns: 1fr;
    }
  }
}

.three-col{
  margin:40px 0;
  padding:0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 15px;

  > *{ width:100%; }
  &.flush{
    width:100%;
    padding:0;
  }

  @media (min-width: 768px) {
      margin:120px 0;
  }

  @media (max-width: 767px) {
    &.rx{
      grid-template-columns: 1fr;
    }
  }
}

.responsive-text{
  font: 400 16px "Karla", sans-serif;

  p{
      line-height:1.5;
      margin-bottom:1em;
  }

  h1{
      line-height:1.2;
      font-size:26px;
      font-weight: 700;
      margin:0;
      margin-bottom:16px;
  }

  @media (min-width: 768px) {
      > div{
          column-gap:40px;
          column-count: 2;
          max-width: 880px;
          margin:0 auto;
      }

      h1{
          line-height: 1.2;
          font-size: 36px;
      }
      p{
          line-height: 1.625em;
      }
  }
}

.project > section{
  margin:45px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
      font: 700 16px "Karla", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.18em;
      margin-bottom: 45px;
      text-align:center;
  }

  @media (min-width: 768px) {
      margin: 120px 20px;
      h1{
          margin-bottom:120px;
      }
  }
}
