div:not(.flush) img{
    border-radius: 3px;

    @media (min-width: 768px) {
        border-radius: 5px;
    }
}


.rc-big{
    border-radius: 3px;

    @media (min-width: 768px) {
        border-radius: 25px !important;
    }
}


section{
    margin:45px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font: 700 16px "Karla", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.18em;
        margin-bottom: 45px;
    }

    @media (min-width: 768px) {
        margin: 120px 20px;
        h1{
            margin-bottom:120px;
        }
    }
}

#logo-a{
    gap:0;
}

#logo-b,
#palette{
    img{
        padding:0 20px;
    }
}

#typography{
    img{
        width:calc(100% - 40px);
        margin:0 auto;
        max-width:1040px;
    }
}

#textures{
    @media (max-width: 767px) {
        img:first-child{
            order:1;
        }
    }
}

#what-is-week-and{
    padding-bottom:0;
}

#campaign-a .frame{
    max-width: 670px;
}

.three-col.two-and-one{
    @media (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
        :nth-child(3){
            grid-column: 1 / -1;
        }
    }
}

#campaign-b .frame{
    max-width: 670px;
    iframe{
        border-radius: 3px;
        @media (min-width: 768px) {
            border-radius: 5px;
        }
    }
}

#feed-your-free-time{
    margin:40px 0;
    img{
        max-width:670px;
    }

    @media (min-width: 768px) {
        margin:120px 0;
    }
}

#blue{
    background: #E0E9FF;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;

    img{
        width: 100%;
    }

    >div.pair{
        display:flex;
        flex-flow: row nowrap;
        gap:15px;

        video, img{
            max-width: 412px;
        }
    }

    /* > img:nth-child(1){ max-width:840px; } */
    > img:nth-child(2){ max-width:1040px; }
    > img:nth-child(3){ max-width:840px; }

    @media (min-width: 768px) {
        gap: 120px;
    }

}

#cutting-room-floor{
    display:flex;
    flex-flow: column nowrap;
    gap: 45px;

    h1{
        margin-bottom:0;
    }

    video{
        width: 100%;
        max-width: 1040px;
    }
    img{
        width:100%;
        max-width:840px;
    }

    @media (min-width: 768px) {
        gap: 120px;
    }
}
#reels .slideshow,
#naming-journey .slideshow{
    display: grid;
    grid-template-areas: single;
    align-self:center;
    justify-content: center;

    > img{
        grid-area: single;
        opacity:0;
        transition: opacity .5s linear;
        width: 100%;
        margin: 0 auto;

        &.active{
            opacity:1;
        }

    }

    @media (min-width: 768px) {
        margin:0 auto;
    }
}
