:root{
    --rosewood:#661A0B;
    --periwize:#C9CDFD;
    --periwize-200:#eeefff;
}

div:not(.flush) img{
    border-radius: 3px;

    @media (min-width: 768px) {
        border-radius: 5px;
    }
}

.vimeo-player:not(.flush){
    iframe{
        border-radius: 3px;

        @media (min-width: 768px) {
            border-radius: 5px;
        }
    }
}

#rosewood{
    display:flex;
    justify-content: center;
    background: var(--rosewood);

    img{
        width:100%;
        max-width: 840px;
    }
}

#need-to-hire .frame{ max-width: 1320px; }
#find-your-people .frame{ max-width: 1040px; }

#ad-grid{
    max-width: 1080px;
    margin: 0 auto;

    .wide{
        grid-column: 1 / 3;
    }
}

#thirty-second-spot .frame{ max-width: 1320px; }

#periwize{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    background: var(--periwize);
    gap: 40px;

    h1{
        font: 700 16px "Karla", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.18em;
    }

    video{
        width:100%;
        max-width: 840px;
        &:last-child{ max-width: 1040px; }
    }

    @media (min-width: 768px) {
        gap:120px;
    }
}

#phone-screens{
    background:var(--rosewood);

    .three-col{
        max-width: 840px;
        margin:0 auto;
    }
}

#periwize-200{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    background: var(--periwize-200);
    gap: 40px;

    img{
        width: 100%;
        max-width:1040px;

        &:first-child{ max-width: 840px; }
    }

    @media (min-width: 768px) {
        gap:120px;
    }
}

#graphs .two-col,
#disc-graphics .two-col,
#social-grid .two-col{
    max-width: 1040px;
    margin:0 auto;
}

#disc-video{
    display:flex;
    justify-content: center;
    background: var(--periwize);
    video{
        max-width: 600px;
    }
}


#photo-testimonial{
    display: flex;
    justify-content: center;
    background: url("/images/Wizehire/testimonial-bg-mobile.jpg") no-repeat;
    background-size: cover;

    img{
        width: 100%;
        max-width: 412px;
    }

    @media (min-width: 768px) {
        background-image: url("/images/Wizehire/testimonial-bg.jpg");
    }
}

#social-grid .two-col{
    img{
        border-radius: 6%;
    }

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

#speech-bubbles{
    background: var(--periwize);
    display: flex;
    justify-content: center;
    img{
        width: 100%;
        max-width: 1040px;
    }
}

#email{
    display: flex;
    justify-content: center;
    img{
        width: 100%;
        max-width: 533px;
    }
}

#positioning .slideshow{
    display: grid;
    grid-template-areas: single;
    align-self:center;
    justify-content: center;

    > img{
        grid-area: single;
        opacity:0;
        transition: opacity .5s linear;
        width:calc(100% - 40px);
        max-width: 1320px;
        margin: 0 auto;

        &.active{
            opacity:1;
        }

    }

    @media (min-width: 768px) {
        margin:0 auto;
    }
}


#three-minute-spot .frame{
    max-width:1320px;
}

#brand-guide{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    background:#242121; /* match carousel */
    padding: 20px;
    margin-top: 40px;

    h1{
        color:var(--cream);
        width:100%;
        max-width: 1320px;
        font: 400 14px/1.6 Karla, sans-serif;

        span{
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2.88px;
            margin-right: .25em;
        }


        @media (min-width: 768px) {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
            span{
                font-size: 14px;
                letter-spacing: 2.66px;
                margin-right: .5em;
            }
        }
    }


    .guide-pages{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin:20px 0;
        gap: 4px;
        max-width: 1320px;

        > *{ width:100%; }
        &.flush{ padding:0; }

        @media (min-width: 768px) {
            gap: 15px;
            margin:40px 0;
        }
    }

    @media (min-width: 768px) {
        margin-top: 120px;
        padding: 40px 20px;
    }
}