---
import InternalLayout from "../layouts/InternalLayout.astro";
import TextGrid from "../components/TextGrid.astro";
---

<style>
  #pearly-main {
    width: 100%;
    position: relative;
    background-color: #f7f4ed;
  }
</style>
<InternalLayout>
  <div id="pearly-main">
    <TextGrid title="PEARLY BITES">
      <li>Brand Identity + Positioning</li>
      <li>Logo Design</li>
      <li>Art + Illustration</li>
      <li>Product Design (UX/UI)</li>
      <li>CX</li>
      <li>Interior Design</li>
      <li>Social Content + Advertising</li>
      <li>Writing + Editing</li>
      <li>Signage + Display</li>
      <li>Surprise + Delight</li>
    </TextGrid>
  </div>
  <script></script>
</InternalLayout>
