---
import { Image } from "astro:assets";
import SarahGlasses from "../assets/SarahGlasses.mp4";
import GlassesTest from "../assets/eye_test_cut.webm";
---

<style>
  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    z-index: 0;
    background-color: #f7f4ed;
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    inset: 0;
  }
  .email-header h1 {
    position: relative;
    font-family: "utile-display", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    /* line-height: 120px; */
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #363131;
  }
  .email-header {
    width: 100%;
    margin-top: 65px;
    /* text-align: center; */
  }
  .pink-background {
    position: absolute;
    width: 350px;
    height: 30px;
    top: 72px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: #ff97fd;
    transform: rotate(0.88deg);
  }
  .video-container {
    /* background-color: paleturquoise; */

    margin-top: -30px;
    position: relative;
    display: flex;
    /* align-items: center; */
    width: 100%;
    /* align-items: end; */
  }

  .svg-text {
    fill: black;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .video-link {
    z-index: 2;
  }
  #instagram {
    position: absolute;
    top: 130px;
    left: -15px;
    rotate: 265deg;
  }
  #substack {
    position: absolute;
    top: 55px;
    left: 80px;
    rotate: 5deg;
  }
  #vimeo {
    position: absolute;
    top: 50px;
    left: 70px;
    rotate: 5deg;
  }
  #linkedin {
    position: absolute;
    top: 62px;
    left: 150px;
    rotate: 15deg;
  }
  .video-wrapper {
    /* width: 700px;
    height: 400px; */
  }
  .glasses {
    transform: translateX(50px);
    /* transform: scale(0.9); */
    /* position: relative; */
    width: 600px;
    height: 400px;

    /* position: absolute; */
    /* right: 50; */
    /* margin-left: 50px; */

    max-width: none;
    /* overflow-y: hidden; */
    z-index: -1;
  }
  .footer--text-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    text-align: left;

    flex-direction: column;
    margin-left: 25px;
    margin-right: 40px;
    margin-bottom: 45px;
  }

  .footer--text-container h1::before {
    position: absolute;
    background-color: #363131;
    content: "";
    width: 180px;
    height: 30px;
    z-index: -1;
    transform: rotate(-2deg);
  }
  .footer--text-container h1 {
    font-size: 21px;
    margin-bottom: 10px;
    color: white;
  }
  .footer--text-left {
    width: 100%;
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    color: #363131;
    margin-bottom: 10px;
  }
  .footer--text-right {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #363131;
  }
  .footer--text-right span {
    margin-left: 10px;
  }
  #tooltip-nav {
    position: absolute;
    background-color: #f7eee3;
    color: black;
    font-family: Karla;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 35px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    white-space: nowrap;
    rotate: -15deg;
    z-index: 100;
  }
  @media (min-width: 678px) {
    .glasses {
      transform: translateX(0);
    }
  }
  @media (min-width: 678px) and (max-width: 1023px) {
    .pink-background {
      width: 590px;
      top: 85px;
    }
    .email-header h1 {
      font-size: 46px;
    }
    .video-container {
      justify-content: center;
    }
    #instagram {
      /* top: 140px;
      left: 300px; */
      top: calc(50%);
      left: calc(50%);
      transform: translate(100px, -360px);
    }
    #substack {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-280px, -120px);
    }
    #vimeo {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-295px, -130px);
    }
    #linkedin {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-225px, -85px);
    }
  }
  @media (min-width: 1024px) and (max-width: 1400px) {
    .video-container {
      justify-content: center;
    }
    .footer--text-container {
      margin-left: 50px;
      flex-direction: row;
    }
    .footer--text-left {
      width: 80%;
      font-size: 11px;
    }
    .footer--text-right {
      white-space: nowrap;
      align-self: flex-end;
    }
    .email-header h1 {
      font-size: 76px;
    }
    .pink-background {
      width: 950px;
      height: 90px;
      top: 85px;
    }
    svg {
      transform: scale(1.1);
    }
    .glasses {
      transform: scale(1.1);
    }
    #instagram {
      /* top: 140px;
      left: 300px; */
      top: calc(50%);
      left: calc(50%);
      transform: translate(110px, -390px);
    }
    #substack {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-300px, -140px);
    }
    #vimeo {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-310px, -140px);
    }
    #linkedin {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-230px, -95px);
    }
  }
  @media (min-width: 1401px) {
    .video-container {
      justify-content: center;
    }
    .footer--text-container {
      margin-left: 50px;
      flex-direction: row;
    }
    .footer--text-left {
      width: 80%;
      font-size: 11px;
    }
    .footer--text-right {
      white-space: nowrap;
      align-self: flex-end;
    }
    .email-header h1 {
      font-size: 100px;
    }
    .pink-background {
      width: 1259px;
      height: 111px;
      top: 80px;
    }
    svg {
      transform: scale(1.1);
    }
    .glasses {
      transform: scale(1.1);
      margin-top: 20px;
    }
    #instagram {
      /* top: 140px;
      left: 300px; */
      top: calc(50%);
      left: calc(50%);
      transform: translate(100px, -395px);
    }
    #substack {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-310px, -130px);
    }
    #vimeo {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-310px, -135px);
    }
    #linkedin {
      top: calc(50%);
      left: calc(50%);
      transform: translate(-225px, -90px);
    }
  }
</style>
<footer>
  <div class="email-header">
    <div class="pink-background"></div>
    <h1>getcreative@byhart.studio</h1>
  </div>
  <div class="video-container">
    <a
      id="instagram"
      class="video-link"
      href="https://www.instagram.com/byhartstudio/"
      target="_blank"
    >
      <svg width="100" height="20">
        <defs>
          <path id="curve1" d="M 0 20 Q 50 13 100 20" fill="transparent"></path>
        </defs>
        <text class="svg-text">
          <textPath href="#curve1">INSTAGRAM</textPath>
        </text>
      </svg>
    </a>
    <!-- <a
      id="substack"
      class="video-link"
      href="www.instagram.com"
      target="_blank"
    >
      <svg width="100" height="20">
        <defs>
          <path id="curve2" d="M 0 20 Q 50 13 100 20" fill="transparent"></path>
        </defs>
        <text class="svg-text">
          <textPath href="#curve2">SUBSTACK</textPath>
        </text>
      </svg>
    </a> -->
    <a
      id="vimeo"
      class="video-link"
      href="https://vimeo.com/byhartstudio"
      target="_blank"
    >
      <svg width="100" height="20">
        <defs>
          <path id="curve3" d="M 0 20 Q 50 13 100 20" fill="transparent"></path>
        </defs>
        <text class="svg-text">
          <textPath href="#curve3">VIMEO</textPath>
        </text>
      </svg>
    </a>
    <a
      id="linkedin"
      class="video-link"
      href="https://www.linkedin.com/company/byhartstudio/posts/?feedView=all"
      target="_blank"
    >
      <svg width="100" height="20">
        <text class="svg-text">
          <textPath href="#curve3">LINKEDIN</textPath>
        </text>
      </svg>
    </a>
    <!-- <div class="video-wrapper"> -->
    <video
      class="glasses"
      src={GlassesTest}
      autoplay="true"
      loop="true"
      muted
      playsinline></video>
    <!-- </div> -->
  </div>
  <div class="footer--text-container">
    <div class="footer--left-container">
      <div class="gray-background"></div>
      <h1>This print is so fine</h1>
      <p class="footer--text-left">
        ADDITIONAL CREDITS: It takes a village. The vast majority of this
        portfolio is original work created by a dream team under Sarah Hartley's
        direction. There are also some reference materials and inspiration mood
        boards, which are an industry standard aspect of the research,
        conception, and pitch phases of the creative process. Please feel free
        to reach out if you are curious about who may be credited with any
        aspect of the work you see here. It's more than likely us! In the rare
        event it is not entirely authored by Sarah and team, we will do our very
        best to connect you with the source of our inspiration.
      </p>
    </div>
    <p class="footer--text-right">
      © Sarah Hartley <span>See Sarah Work LLC d/b/a By Hart</span>
    </p>
  </div>
  <div id="tooltip-footer"></div>
</footer>
<script>
  // const navEmailButton = document.getElementById("nav-link--email-button");
  // const tooltip = document.getElementById("tooltip-nav");

  // navEmailButton.addEventListener("mouseenter", (event: MouseEvent) => {
  //   tooltip.innerText = "COPY ME";
  //   tooltip.style.opacity = "1";
  // });

  // navEmailButton.addEventListener("mousemove", (event: MouseEvent) => {
  //   tooltip.style.top = `${event.pageY - 10}px`;
  //   tooltip.style.left = `${event.pageX}px`;
  // });

  // navEmailButton.addEventListener("mouseleave", () => {
  //   tooltip.style.opacity = "0";
  // });
</script>
