---
import "@styles/utils.css";
import Image from "astro/components/Image.astro";
const {src, alt=" ", width, class:classes, id} = Astro.props
const widths = width ? [width] : [2200]
---

<div id={id} class:list={["one-up", classes]}>
    <Image src={src} widths={widths} alt={alt}/>
</div>

<style>
    .one-up{
        padding:0 20px;

        img{
            width:100%;
            margin:0 auto;
        }
    }
</style>