---
import "../../styles/utils.css";

---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
  .testimonial--container {
    display: flex;
    flex-direction: column;
    padding-left: 135px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .testimonial--container h2 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--cream);
    padding-bottom: 50px;
  }
  .testimonial--quote {
    font-family: "utile-display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 65px;
    color: var(--cream);
  }
  .testimonial--quote span {
    font-family: "Covered By Your Grace";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    color: #d7c6ff;
  }
  .testimonial--quote-source {
    padding-top: 45px;
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: var(--cream);
  }
  .testimonial--selector-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .testimonial--selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    padding: 0;
    border: none;
    background: none;
    margin: 0 5px;
    cursor:
      url("../assets/HeartCursor.png") 16 16,
      auto;
  }
  .hidden {
    display: none;
  }
  .shown {
    display: block;
  }
  @media (max-width: 768px) {
    .testimonial--container {
      padding: 25px 0 50px 25px;
    }
    .testimonial--container h2 {
      font-size: 12px;
      line-height: 11px;
      letter-spacing: 0.2em;
      padding-bottom: 25px;
    }
    .testimonial--quote {
      font-size: 24px;
      line-height: 10px;
      margin-right: 20px;
    }
    .testimonial--quote span {
      font-size: 20px;
      line-height: 51px;
    }
    .testimonial--container-height {
      height: 400px;
    }
    .testimonial--quote-source {
      padding-top: 0;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: 0.04em;
      padding-bottom: 40px;
    }
  }
</style>
<div class="testimonial--container">
  <div class="testimonial--container-height">
    <h2>WHAT OUR CLIENTS ARE SAYING</h2>
    <div class="testimonial">
      <div class="testimonial--quote">
        I turn to By Hart for <span>all of my branding needs.</span><br />
        What amazes me most about Sarah + <br />her dream team is <span
          >all of my branding needs.</span
        ><br />
        I would recommend By Hart to <span
          >anyone<br /> looking for all of my branding needs.</span
        ><br />
      </div>
      <p class="testimonial--quote-source">
        -Carmen Bryant, Head of Marketing, Wizehire
      </p>
    </div>
    <div class="testimonial hidden">
      <div class="testimonial--quote">
        I turn to By Hart for <span>all of my design needs.</span><br />
        What amazes me most about Sarah + <br />her team is <span
          >their creativity and attention to detail.</span
        ><br />
        I would recommend By Hart to <span
          >anyone<br /> looking for exceptional design services.</span
        ><br />
      </div>
      <p class="testimonial--quote-source">-Gleb Mirzayev</p>
    </div>
    <div class="testimonial hidden">
      <div class="testimonial--quote">
        By Hart has <span>transformed our brand image.</span><br />
        Sarah and her team <br />consistently deliver <span
          >innovative and stunning designs.</span
        ><br />
        We are thrilled with <span
          >the results<br /> and highly recommend them!</span
        ><br />
      </div>
      <p class="testimonial--quote-source">-Random Person</p>
    </div>
    <div class="testimonial hidden">
      <div class="testimonial--quote">
        Our experience with By Hart <span>has been phenomenal.</span><br />
        The team's ability to <br />capture our vision and <span
          >bring it to life is unmatched.</span
        ><br />
        For anyone <span
          >seeking top-tier<br /> design expertise, By Hart is the answer.</span
        ><br />
      </div>
      <p class="testimonial--quote-source">-Anna Wintour</p>
    </div>
    <div class="testimonial hidden">
      <div class="testimonial--quote">
        Choosing By Hart was <span>the best decision for our rebranding.</span
        ><br />
        Sarah's team went above and beyond <br />to deliver <span
          >exceptional and unique designs.</span
        ><br />
        I would confidently recommend By Hart to <span
          >anyone<br /> seeking creative and professional design services.</span
        ><br />
      </div>
      <p class="testimonial--quote-source">-Audrey Hepburn</p>
    </div>
  </div>
  <div class="testimonial--selector-container">
    <button class="testimonial--selector"
      ><img
        class="testimonial--heart"
        src="images/SelectedHeart.png"
        alt="heart"
      /></button
    >
    <button class="testimonial--selector"
      ><img
        class="testimonial--heart"
        src="images/UnselectedHeart.png"
        alt="heart"
      /></button
    >
    <button class="testimonial--selector"
      ><img
        class="testimonial--heart"
        src="images/UnselectedHeart.png"
        alt="heart"
      /></button
    >
    <button class="testimonial--selector"
      ><img
        class="testimonial--heart"
        src="images/UnselectedHeart.png"
        alt="heart"
      /></button
    >
    <button class="testimonial--selector"
      ><img
        class="testimonial--heart"
        src="images/UnselectedHeart.png"
        alt="heart"
      /></button
    >
  </div>
</div>
<script>
  const updateSelectedTestimonial = (currentIndex: number) => {
    const quotes = document.querySelectorAll(".testimonial");

    quotes.forEach((quote, i) => {
      if (i === currentIndex) {
        quote.classList.remove("hidden");
        quote.classList.add("shown");
      } else {
        quote.classList.remove("shown");
        quote.classList.add("hidden");
      }
    });

    const icons: NodeListOf<HTMLImageElement> = document.querySelectorAll(
      ".testimonial--heart"
    );

    icons.forEach((icon, i) => {
      if (i === currentIndex) {
        icon.src = "/images/SelectedHeart.png";
      } else {
        icon.src = "/images/UnselectedHeart.png";
      }
    });
  };

  const selectors = document.querySelectorAll(".testimonial--selector");
  selectors.forEach((selector, index) => {
    selector.addEventListener("click", () => {
      updateSelectedTestimonial(index);
    });
  });
</script>
