---
const { title, theme } = Astro.props;
import "../styles/utils.css";
---

<style is:global>
  .text-grid {
    width: 50%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: (1fr, 1fr);
    grid-template-areas: "a b" "c d";
    align-items: start;
    font-family: "Karla";
    font-weight: "normal";
    margin-left: 50px;
    padding: 30px 0;
    /* margin-bottom: 100px; */
  }
  .item1 {
    grid-area: a;
  }
  .item2 {
    grid-area: b;
  }
  .item3 {
    grid-area: c;
  }
  .item4 {
    grid-area: d;
  }
  /* .text-grid--header {
    margin-left: 60px;
    margin-top: 10px;
    font-weight: bold;
  } */
  .text-grid--header p {
    display: inline-block;
  }
  .text-grid--flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0px;
    column-gap: 40px;
  }
  .text-grid--flex li {
    list-style: none;
    max-width: 280px;
    padding: 6px 0;
    font-family: "Karla";
  }
  .brand-name {
    font-weight: bold;
    letter-spacing: 0.2em;
  }
  .sub-header {
    font-weight: bold;
    letter-spacing: 0.2em;
  }

  @media screen and (max-width: 767px) {
    p.brand-name {
      display: none;
    }
    .sub-header {
      margin-bottom: 15px;
    }
    .text-grid--flex {
      flex-wrap: nowrap;
      /* margin-left: 10px; */
    }
    .text-grid {
      margin-left: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    .brand-name {
      /* display: none; */
      min-width: 200px;
    }
    .text-grid--flex {
      height: 200px;
    }
    .sub-header {
      margin-left: 100px;
      margin-bottom: 10px;
    }
    .text-grid--flex {
      margin-left: 100px;
    }
  }
</style>
<div
  class="text-grid"
  style={{ color: `${theme == "light" ? "black" : "#F7F4ED"}` }}
>
  <p class="brand-name item1">{title}</p>
  <p class="sub-header item2">WHAT WE DID</p>
  <ul class="text-grid--flex item4">
    <slot />
  </ul>
  <p
    class="item2 absolute right-0 sub-header invisible sm:mr-[30px] sm:visible"
  >
    LOREM IPSUM DOLOR
  </p>
</div>
