---
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      html {
        cursor: url("../assets/HeartCursor.png"), auto;
        margin: 0;
        padding: 0;
      }
      main {
        background-color: white;
        position: relative;
        z-index: 10;
        /* width: 100vw; */
        padding: 0;
        margin: 0;
      }
      body {
        padding-bottom: 100vh;
        margin: 0;
      }
      .placeholder {
        height: 800px;
        /* width: 1440px; */
        background-color: gray;
      }
      .service-container {
        height: 800px;
      }
    </style>
  </head>
  <body>
    <main>
      <slot />
      <!-- your content is injected here -->
    </main>
    <Footer />
  </body>
</html>
